body { 
    display: flex; width: 85vw; margin-left: auto; margin-right: auto;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode","Lucida Sans", Tahoma, sans-serif
}

.db-5 { width: 50%; }
h1, h2, h3, h4 { font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; }