/*body { 
    display: flex; width: 85vw; margin-left: auto; margin-right: auto;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode","Lucida Sans", Tahoma, sans-serif
}
*/

h1 { display: none; }


#slipperyslimy, #coolnot, #expensiveannoying, #smallfree, #friendlyaggressive, #rightwrong { display: none; }